@font-face {
  font-family: "Futura";
  src: url("../fonts/FuturaLT-Book.ttf") format("truetype");
}

/*********************************
 CSS basic Rules
*********************************/

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
body {
  font-family: "Futura", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #000000;
  color: #ffffff;
}
div {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin-bottom: 0px;
}
p {
  font-family: "Futura", sans-serif;
  font-size: 14px;
  line-height: 2.18;
  font-weight: 400;
  color: #ffffff;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
a,
a:hover,
a:visited,
a:active,
a:link {
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
p a:active {
  position: relative;
  color: #ff6347;
}
p a:hover::after {
  opacity: 0.2;
}
::selection {
  background: rgba(255, 255, 255, 0.07);
}
.background_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.nopadding {
  padding: 0px !important;
}
.section_subtitle {
  font-size: 18px;
  line-height: 0.75;
}
.section_title {
  margin-top: 7px;
  margin-left: -2px;
}

/*********************************
 Header
*********************************/

.header {
  position: fixed;
  left: 0;
  top: 0;
  background: #000000;
}

.logo {
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 51px;
}
.logo a {
  font-family: "Futura", sans-serif;
  font-size: 30px;
  color: #ffffff;
}

.row .nav a {
  position: relative;
}
.row .nav a {
  position: relative;
  font-size: 16px;
  color: #ffffff;
  padding-left: 26px;
  padding-right: 23px;
  z-index: 1;
}
.row .nav a::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
  height: 17px;
  background: #992d69;
  content: "";
  z-index: -1;
  visibility: hidden;
  opacity: 0;
}
.row .nav a.active a::after,
.row .nav a:hover::after {
  bottom: -5px;
  visibility: visible;
  opacity: 1;
}

.home {
  width: 100%;
  height: 892px;
  padding-left: 51px;
  padding-right: 52px;
}
.home_container_image {
  margin-top: 0px;
  width: 100%;
  height: 100%;
}
.home_container {
  width: 100%;
  height: 100%;
  z-index: 1;
  padding-top: 72px;
}

.home_content {
  margin-top: 180px;
}
.home_title h3 {
  font-size: 60px;
}
.home_link {
  margin-top: 21px;
}
.home_link a {
  position: relative;
  font-size: 30px;
  color: #ffffff;
}

/*********************************
 About
*********************************/

blockquote {
  border-left: 10px solid #ffffff;
  margin: 4em 10px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}
blockquote:before {
  color: #ffffff;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
  font-size: 1rem;
  line-height: 2;
}
.icons-list {
  background-color: rgb(39, 34, 34);
}
.icons-list img {
  height: 100px;
}

/*********************************
6. Contact
*********************************/
.contact_content {
  margin-top: 75px;
  margin-bottom: 75px;
}

.contact_heading {
  font-size: 37px;
  color: #ffffff;
}
.contact_title {
  font-size: 19px;
  color: #ffffff;
  line-height: 1.2;
}
.contact_form {
  display: block;
  width: 100%;
  margin-top: 59px;
  margin-bottom: 30px;
}
.contact_input {
  position: relative;
  width: 100%;
  height: 50px;
  background: #343434;
  border: none;
  outline: none;
  padding-left: 25px;
  border-bottom: solid 3px transparent;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.contact_input:hover,
.contact_input:focus {
  border-bottom: solid 3px #de4f32;
}
.contact_textarea {
  height: 161px;
  padding-top: 18px;
}
.contact_form input:not(:last-child) {
  margin-bottom: 20px;
}
.contact_input::-webkit-input-placeholder {
  font-size: 14px !important;
  font-weight: 400 !important;
  font-style: italic;
  color: #ffffff !important;
}
.contact_input:-moz-placeholder {
  font-size: 14px !important;
  font-weight: 400 !important;
  font-style: italic;
  color: #ffffff !important;
}
.contact_input::-moz-placeholder {
  font-size: 14px !important;
  font-weight: 400 !important;
  font-style: italic;
  color: #ffffff !important;
}
.contact_input:-ms-input-placeholder {
  font-size: 14px !important;
  font-weight: 400 !important;
  font-style: italic;
  color: #ffffff !important;
}
.contact_input::input-placeholder {
  font-size: 14px !important;
  font-weight: 400 !important;
  font-style: italic;
  color: #ffffff !important;
}
.contact_button {
  width: 173px;
  height: 50px;
  background: #de4f32;
  color: #ffffff;
  font-size: 14px;
  border: solid 3px #de4f32;
  outline: none;
  cursor: pointer;
  margin-top: 39px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.contact_button:hover {
  background: transparent;
  color: #de4f32;
}
.contact_text {
  margin-top: 50px;
}
.contact_info_list {
  margin-top: 84px;
  padding-left: 13px;
}
.contact_info_list ul li {
  font-size: 16px;
  color: #aaaaaa;
}
.contact_info_list ul li:not(:last-of-type) {
  margin-bottom: 24px;
}
.contact_info_list ul li > div:first-child > div {
  width: 96px;
  color: #de4f32;
}
.social {
  margin-top: 42px;
  left: -5px;
  padding-left: 13px;
}
.social ul li:not(:last-of-type) {
  margin-right: 26px;
}
.social ul li a i {
  font-size: 15px;
  padding: 5px;
  color: #de4f32;
}
.social ul li a i:hover {
  color: #ffffff;
}

/*********************************
12. Footer
*********************************/

.footer {
  background-color: rgb(141, 125, 125);
  display: block;
  position: relative;
}
.footer_content {
  padding-top: 18px;
  padding-bottom: 10px;
}
.footer .logo {
  top: 30px;
  display: inline-block;
  position: relative;
  left: auto;
}
.footer_social {
  margin-top: 58px;
}
.footer_social ul li:not(:last-of-type) {
  margin-right: 18px;
}
.footer_social ul li {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #555555;
}
.footer_social ul li:hover {
  background: #ffffff;
}
.footer_social ul li a {
  display: block;
  height: 100%;
}
.footer_social ul li a i {
  font-size: 20px;
  color: #ffffff;
  line-height: 46px;
}
.footer_social ul li:hover a i {
  color: #ff177b;
}
.copyright {
  height: 49px;
  line-height: 49px;
}
/*********************************
 Responsive 
*********************************/
@media only screen and (max-width: 575px) {
  h1 {
    font-size: 36px;
  }
  .header_content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .logo {
    left: 10px;
  }
  .home {
    padding-left: 15px;
    padding-right: 15px;
  }
  .home_link {
    text-align: center;
  }
}
