extends ../layout/index

block content
			main.container.mt-5
					.row
							.col-md-5
									img.img-fluid(src="/img/artist.png", alt="About Image")
							.col-md-7
									h1 #{pageTitle}
									blockquote emusic has been a trusted website for information to upcoming europeon musical events. From day one, we’ve set about making it as easy, fun and fair as possible for you to see europe's best artists performing.
									p  Right now, more than 5 millions music fans across the globe use emusic to track their favorite artists, discover upcoming events anywhere in europeon countries and cheap price rates with confidence.
									p emusic is an opportunity to get updtaed with the music event experience through optimized and extensive database storing events information around the Europe. Use our services for free to explore music shows and also share with your community.
									
			.icons-list 
					.container.mt-5.py-5.text-center
							.row
									.col-md-4
											img(src="/img/icon_trust.svg", class="img-fluid mb-4")
											h2.mb-4 Trust & Secure
											p Nullam consectetur, ligula non consectetur egestas, mi urna vulputate elit, quis pretium lorem tortor in quam. Duis volutpat condimentum turpis, dictum sollicitudin lorem mattis semper.
									.col-md-4
											img(src="/img/icon_destiny.svg", class="img-fluid mb-4")
											h2.mb-4 Best Venues
											p Nullam consectetur, ligula non consectetur egestas, mi urna vulputate elit, quis pretium lorem tortor in quam. Duis volutpat condimentum turpis, dictum sollicitudin lorem mattis semper.
									.col-md-4
											img(src="/img/icon_price.svg", class="img-fluid mb-4")
											h2.mb-4 Best Price
											p Nullam consectetur, ligula non consectetur egestas, mi urna vulputate elit, quis pretium lorem tortor in quam. Duis volutpat condimentum turpis, dictum sollicitudin lorem mattis semper.